cmus/.config/cmus/lib.pl
cmus/.config/cmus/playlists/default
nvim/.config/nvim/plugin/packer_compiled.lua
bkp
*.pyc
qutebrowser/.config/qutebrowser/qsettings/QtProject.conf
qutebrowser/.config/qutebrowser/catppuccin
qutebrowser/.config/qutebrowser/catppuccin
nvim/.config/nvim/lazy-lock.json
