*.alpha:  0.90

! special
*.foreground:   #ebdbb2
*.background:   #312e39
*.cursorColor:  #ebdbb2

! black
*.color0:       #312e39
*.color8:       #8a7c6f

! red
*.color9:       #c72e68
*.color1:       #ff2975

! green
*.color10:      #978979
*.color2:       #afa38b
/* *.color10:      #d8ffcf */
/* *.color2:       #5a7056 */


! yellow
*.color3:      #f28920
*.color11:       #f8cd1a

! blue
*.color4:      #6262ae
*.color12:       #871ff5

! magenta
*.color5:      #ff2975
*.color13:       #f022fd

! cyan
*.color14:      #3e518e
*.color6:       #6262ae
/* *.color6:      #00908e */
/* *.color14:       #006c6c */

! white
*.color15:      #f9c2a0
*.color7:       #ebdbb2
