@import "./kanagawa-wave.css";

* {
    background: transparent;
    border: none;
    /* font-family: MonaspiceNe NF; */
    /* font-family: Cantarell, MonaspiceNe NF; */
    font-family: DepartureMono Nerd Font Propo;
    font-size: 13px;
}

window#waybar {
    background: @base;
    /* background: transparent; */
    /* background-color: rgba(43, 48, 59, 0.5); */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    /* color: #ffffff; */
    /* color: transparent; */
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @subtle;
    margin: 0 5px;
}

#workspaces button:hover {
    color: @yellow;
}

#workspaces button.active {
    color: @text;
}

#workspaces button.active:hover {
    color: @yellow;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-pkg,
#window,
#power-profiles-daemon,
#mpd {
    padding: 0 5px;
    color: @text;
    background-color: @base;
}

#clock,
#window {
    font-weight: bold;
}

#workspaces {
    padding: 0;
    color: #ffffff;
    background-color: @base;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 10;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

.modules-center {
    background-color: @base;
    border-radius: 5px;
    padding: 0 10px;
}

.modules-right {
    background-color: @base;
    border: 1px solid @base;
    border-radius: 5px;
    padding: 0 10px;
    margin-right: 16px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#tray {
    background-color: @base;
    margin: 0;
}

#tray menu {
    background-color: @base;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#tray label {
    font-size: 12px;
    font-family: Cantarell;
    color: @text;
}

tooltip {
    background-color: @base;
    padding: 20px;
    border-radius: 5px;
    /* border: 1px solid @base; */
}

tooltip label {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
